*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
    background-color: #000;
}

.container{
    position: relative;
    height: 100vh;
    overflow: hidden;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0%{
        filter: hue-rotate(0deg);
        /* transform: rotate(0deg); */
    }
    100%{
        filter: hue-rotate(360deg);
        /* transform: rotate(360deg); */
    }
}

.row{
    display: inline-flex;
    margin-top: -32px;
    margin-left: -50px;
}

.row:nth-child(even){
    margin-left: 1px;
}

.hexagone{
    position: relative;
    width: 100px;
    height: 110px;
    margin: 1px;
    background-color: #111;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: 2s;
}

.hexagone:hover{
    background-color:#0f0;
    transition: 0s;
}

.hexagone::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.02);
}

/* .hexagone::before{
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 0px;
    height: 0px;
    border-right: 30px solid green;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

.hexagone::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 0px;
    height: 0px;
    border-left: 30px solid green;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
} */

.hexagone_1{
    position: relative;
    width: 60px;
    height: 100px;
    background-color: red;
    /* left: -90px; */
    top: -150px;
    right: -30px;
}

.hexagone_1::before{
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 0;
    height: 0;
    border-right: 30px solid red;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

.hexagone_1::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 0;
    height: 0;
    border-left: 30px solid red;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}